
<div class="detail-container">
    <a href="" class="back-btn"><img src="../../assets/img/back.png" alt="back-button"></a>
    <h1>{{title}}</h1>
    <div class="data-container">
        <div class="data-title">Employee First Name:</div>
        <div class="data-value">{{employee.first_name}}</div>
    </div>
    <div class="data-container">
        <div class="data-title">Employee Last Name:</div>
        <div class="data-value">{{employee.last_name}}</div>
    </div>
    <div class="data-container">
        <div class="data-title">Employee Email:</div>
        <div class="data-value">{{employee.email}}</div>
    </div>
</div>